{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is title.</title>
</head>
<body>
    <h1>This is heading1 text.</h1>
    <ul>
        <ol>unordered list1</ol>
        <ol>unordered list2</ol>
        <ol>unordered list3</ol>
    </ul>
    <table border=1>
        <tr>
            <th>table header 1</th>
            <th>table header 2</th>
            <th>table header 3</th>
        </tr>
        <tr>
            <td>table data 4</td>
            <td>table data 5</td>
            <td>table data 6</td>
        </tr>
        <tr>
            <td>table data 7</td>
            <td>table data 8</td>
            <td>table data 9</td>
        </tr>
    </table>
    <img src={% static "index/Django_Logo.jpg" %} alt="">
</body>
</html>